/* mobile first */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

ul {
  padding: 0;
}

/* header and footer */

.main-header,
.main-footer {
  text-align: center;
  background-color: #3781c2; /* infosys blue */
  color: white;
}

.main-header li,
.main-footer li {
  display: block;
  margin: 1rem;
}

.main-header a,
.main-footer a {
  text-decoration: none;
  color: white;
}

.main-header a:hover,
.main-footer a:hover {
  color: lightgray;
}

.main-content {
  /* push the footer down to the bottom when there isn't much content */
  flex-grow: 1;
}

/* media queries for larger screens */

@media(min-width: 800px) {

  .main-header {
    display: flex;
  }

  .main-header h1 {
    margin-left: 5rem;
  }

  .main-header nav {
    margin: auto 5rem auto auto;
  }

  .main-header li,
  .main-footer li {
    display: inline;
  }

}
